<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Scegli l'esercizio:</h1>
    <a href="/input">1. Inserire una Provincia</a>
    <a href="/input2">2. Comuni di una provincia</a>
    <a href="/input3">3. Comuni della provincia selezionata in ordine alfabetico</a>
    <a href="/input4">4. Estensione per ogni comune in chilometri</a>
    <a href="/input5">5. Estensione per ogni comune in miglia</a>
    <a href="/input6">6. Comuni confinanti a quello selezionato</a>
    <a href="/input7">7. Somma delle estensione dei comuni confinanti</a>
    <a href="/input8">8. comune confinante più esteso/a>
    <a href="/input9">9. Distanza Della provincia selezionata da milano</a>
</body>
</html>